@model IEnumerable<RepositoryDesignPattern.Models.EmployeeViewModel>
@{
    ViewBag.Title = "Index";
}

<div align="center">
    <h2> Employees Management </h2>
    <h3> Employee </h3>
    <div class="alert alert-info">
    </div>
    <p align="left"> @Html.ActionLink("create New","CreateEmp",new{@class="btn btn-create"})</p>
    <table id="emp" cellpadding="5" border="1">
        <thead>
            <tr style="background-color:#808080; color:white;">
                <td>EmployeeId</td>
                <td>Name</td>
                <td>Gender</td>
                <td>Salary</td>
                <td>Dept</td>
                <td>Actions</td>

            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.EmployeeID </td>
                    <td>@emp.Name</td>
                    <td>@emp.Gender </td>
                    <td>@emp.Salary </td>
                    <td>@emp.Dept</td>
                    <td id="eid">
                      <button type="button" id="eid"  class="btn btn-edit" onclick="edit(@emp.EmployeeID)"><i class="fa fa-edit"></i> EDIT</button>
                      <button type="button" id="eid"  class="btn btn-delete" onclick="deleteemp(@emp.EmployeeID)"><i class="fa fa-trash"></i> DELETE</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $("#emp").DataTable();
    });
</script>
<script src="~/js/Employee.js"></script>